{{#component "organism/wrapper" pageTitle="Homepage"}}
  {{#component "atom/card" src="homepage/hero.jpg"}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, aspernatur?</p>
    <p>Ipsa alias deserunt doloribus debitis eveniet velit earum voluptatum ad.</p>
    {{#component "atom/button--cta" href="/next-area"}}Read More{{/component}}
  {{/component}}
{{/component}}

