{{#component "organism/global-wrapper" pageTitle="Turbo" addClass="l-index"}}
  {{#component "atom/strata" addClass="l-index-header"}}
    {{#component "atom/wrapper" addClass="rhythm"}}
      {{#component "atom/heading--h1"}}Turbo{{/component}}
    {{/component}}
  {{/component}}

  {{#component "atom/strata"}}
    {{#component "atom/wrapper" addClass="rhythm"}}
      {{#component "atom/list" addClass="rhythm-small"}}
        {{#component "atom/list__item"}}<a href="/homepage">Homepage</a>{{/component}}
      {{/component}}
    {{/component}}
  {{/component}}
{{/component}}