{{#component "template/standard-wrapper" pageTitle="Index"}}
  {{#component "atom/list"}}
    {{#component "atom/list__item"}}<a href="./homepage/">Homepage</a>{{/component}}
  {{/component}}
{{/component}}

